In [2]:
def printFun(str):
    return str
print(printFun("print"))

print

In [5]:
def funtion(var1 = 5, var2 = 7):
    var1 = 3
    var2 = 9
    print(var1, ' ', var2)
funtion(10, 5)

3   9

# Python function

In [6]:
a = 5
b = 3
c = a + b

In [7]:
c

8

# Syntax:
```Python
def function_name(argument1,argument2,...):
    #fuction body
    return Expression
function_name(parameter1, parameter2,...)
```

In [11]:
def add():
    a = 5
    b = 3
    c = a + b
    print(c)
add()

8

In [14]:
def add(a,b):
    c = a + b
    print(c)
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [18]:
# standard way
x = 5 
y = 7
add(a  = x, b = y) # esari lekhne ho

12

In [16]:
add(x,y)

12

In [19]:
def add(a,b):
    c = a + b
    print(c)

In [20]:
add(a = 9, b = 9)

18

In [21]:
def add(a,b):
    c = a + b
    return c

output = add( a =  9, b = 2)

In [22]:
output

11

In [31]:
#subtraction
def arthimetic_operation(a,b):
    
    sub = a - b
    return sub
substraction = arthimetic_operation(a=9,b=2 )
substraction

7

In [28]:
def arthimetic_operation(a,b):
   
    mul = a * b
    return mul
multiplication = arthimetic_operation(a=9,b=2 )
multiplication

18

In [30]:
def arthimetic_operation(a,b):
   
    div = a / b
    return div
division = arthimetic_operation(a=9,b=2 )
division

4.5

# find volume of sphere using function

In [32]:

import math
def volume(radius): # radius is argument
    return 4 / 3 * math.pi * radius ** 3

In [36]:
radius = float(input("Enter a radius of sphere: "))
vol = volume(radius = radius)
print(f"The volume of radius is {vol}.")

Enter a radius of sphere:  5

The volume of radius is 523.5987755982989.

# Find area of circle using function

In [40]:
import math
def area(r):
    return math.pi * r ** 2
    
radius = float(input("Enter a radius: "))
total_area = area(r = radius)
print(f"The area of circle is {round(total_area,4)}")

Enter a radius:  5

The area of circle is 78.5398

# Default vs non default arguments

In [1]:
def greet(name, msg):
    return (f"Hello {name}, {msg}")

In [3]:
greet(name = "Pooja", msg = "good morning")

'Hello Pooja, good morning'

In [44]:
greet(name = "Naresh", msg = "good morning")

Hello Naresh, good morning

In [47]:
def greet(name, msg = "Good Morning"): # msg is a default argument
    print(f"Hello  {name}, {msg}")

greet(name = "Agni")

Hello  Agni, Good Morning

In [46]:
greet(name = "Munawar")

Hello  Munawar, Good Morning

In [48]:
greet(name = "Hari", msg = "Afternoon")

Hello  Hari, Afternoon

In [49]:
# default argument chha kunai function ma tyo argument ko value
# function call garda naya dinuvayo vane default value use navayera
# function call ko value use hunxa

In [50]:
greet("dell")

Hello  dell, Good Morning

In [51]:
def greet(msg = "Good Morning", name):
    print(f"Hello {name}, {msg}")

SyntaxError: non-default argument follows default argument (4061591176.py, line 1)

# Global VS Local

In [52]:
x  = "awesome"
def text():
    x = "fantastic"
    print(x)

print(x)

awesome

# function vitra lekheko value local hunxa

In [54]:
text()

fantastic

In [57]:
def something():
    p = 55


print(p) # p is local value function ko scope baira vairable known hudaina

NameError: name 'p' is not defined

In [61]:
x = "bijay"
def viral():
    x = "hutututu"
    print(x)

In [59]:
x

'bijay'

In [62]:
viral()

hutututu

In [63]:
x

'bijay'

In [68]:
# not preferred
x = "bijay"
def viral():
    global x
    x = "hutututu"
    print(x)

In [65]:
x

'bijay'

In [66]:
viral()

hutututu

In [67]:
x

'hutututu'

In [71]:
def add(a,b):
    """
    Argument :
        a : int - first input variable
        b : int - second input variable
    Returns:
        total of a + b
    """
    return a + b

In [72]:
add(4,5)

9