# Structure Query language (SQL)
<b>SQL is a standard language for storing, manipulating and retrieving data in database.

In [2]:
import sqlite3

# CRUID operation

# Create database and connect to the database

In [3]:
connection = sqlite3.connect("student.db")

In [4]:
connection

# Cursor executes SQL query

In [5]:
cur = connection.cursor()

# Creating table in the Database
syntax:
```sql
create table table_name (column_name1 datatype, column_name2 datatype....., column_name_n datatype)
```

In [8]:
query = """
create table std
(
    roll_no int, 
    name varchar(50)
)
"""

In [9]:
cur.execute(query)

# Insert Operation
syntax:
```sql
insert into table_name
(column_name_1, column_name_2,........)
values
(value_1, value_2,............)
```

In [15]:
query = """
insert into std
(roll_no,name)
values
(1, 'Naresh'),
(2, 'Rajendra')
"""

In [16]:
cur.execute(query)

# Read or Selection Statement
synax:
```sql
select * from table_name
```
```sql
select column_name1, column_name2 from table_name
```

In [18]:
query = "select * from std"
cur.execute(query).fetchall()

[(1, 'Naresh'), (2, 'Rajendra')]

In [19]:
cur.execute("select name from std").fetchall()

[('Naresh',), ('Rajendra',)]

In [20]:
cur.execute("select roll_no from std").fetchall()

[(1,), (2,)]

# Where clause/condition

In [21]:
query = """
select name from std
where roll_no = 2
"""

In [22]:
cur.execute(query).fetchall()

[('Rajendra',)]

In [23]:
query = """
select name from std
where roll_no = 1
"""

In [24]:
cur.execute(query).fetchall()

[('Naresh',)]

# Update statement
syntax:
```sql
update table_name
set column_name = vlaue
where condition
```

In [25]:
query = """
update std
set name = 'Naresh dhimal'
where roll_no = 1
"""

In [26]:
cur.execute(query)

In [28]:
cur.execute("select * from std").fetchall() # read

[(1, 'Naresh dhimal'), (2, 'Rajendra')]

# Delete rows in SQL
syntax:

```sql
delete from table_name 
where condition
```

In [30]:
cur.execute("delete from std where roll_no = 1") # roll_no 1 ko data delete garne

In [31]:
cur.execute("select * from std").fetchall()

[(2, 'Rajendra')]