# Tuples:
* <b> Immutable
* <b>orderded
* <b>indexed
* <b>read only
* <b>allow duplicate value
* <b>items written inside () seperated by comma

In [1]:
cars = ("Bmw", "Mercedes", "Audi")
cars

('Bmw', 'Mercedes', 'Audi')

In [2]:
cars[1]

'Mercedes'

In [3]:
cars[-1]

'Audi'

In [4]:
cars[0:2]

('Bmw', 'Mercedes')

In [5]:
cars[:-1]

('Bmw', 'Mercedes')

In [6]:
cars[-1:]

('Audi',)

In [7]:
cars = ("Bmw", "Mercedes", "Audi")
for index in range(len(cars)):
    item = cars[index]
    print(f"Index = {index} and item = {item}")

Index = 0 and item = Bmw
Index = 1 and item = Mercedes
Index = 2 and item = Audi

# Tuple is Immutable(read only)

In [8]:
cars = ("Audi","Bmw", "Ferrari")

In [9]:
cars[2]

'Ferrari'

In [10]:
cars[2] = "Mercedes"

TypeError: 'tuple' object does not support item assignment

In [11]:
cars = ["Audi","Bmw", "Ferrari"]
cars[2] = "Mercedes"
cars

['Audi', 'Bmw', 'Mercedes']

# List is a mutabe so we can read and write in list but tuple is a immutable so we can only read

# Type casting

In [12]:
cars = ("Audi","Bmw", "Ferrari")
cars.append("Mercedes")

AttributeError: 'tuple' object has no attribute 'append'

# we can convert tuple in list and list in tuple using idea of type casting

In [18]:
cars = list(cars) # type casting

In [14]:
cars.append("Mercedes")

In [15]:
cars

['Audi', 'Bmw', 'Ferrari', 'Mercedes']

In [19]:
cars = tuple(cars) # type casting

In [17]:
cars

('Audi', 'Bmw', 'Ferrari', 'Mercedes')

# Tuple unpacking

In [21]:
x, y = (6, 8)

In [22]:
x

6

In [23]:
y

8

In [28]:
# while loop in tuple
num = (2, 5, 7, 3)
index = 0
total = 0 
while index < len(num):
    total = total + num[index]
    index = index + 1
total

17

In [27]:
mean = total / len(num)
print(f"The mean of {num} is {mean}.")

The mean of (2, 5, 7, 3) is 4.25.