In [5]:
a = 20

In [6]:
40 = c

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2886916378.py, line 1)

In [7]:
first name = "Radhe"

SyntaxError: invalid syntax (467723225.py, line 1)

In [8]:
first_name = "Radhe"

In [9]:
print(first_name)

Radhe

# `You cannot assign any name to variable`

# Rule 1 : Keywords cannot be variable names
Keyworsd are the reserved words in python. We cannot use a keyword  as a variable name , fuction name or any other identifier. They ares used to define the syntax and structure of the Python language. In python, keyword are case sensitive.

In [11]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [14]:
False = 0 # False is a keywords

SyntaxError: cannot assign to False (1779503221.py, line 1)

In [16]:
global = "hello" # global is a keyword

SyntaxError: invalid syntax (2018684544.py, line 1)

# `Python keywords are case sensitive`
False = 0 //error,
false = 0 //execute

In [ ]:
# jun language le uppercase ra lowercase ma farak garxa tyo case ssensitive language ho.
# python is a case sensitive language
# sql is case insensitive language

In [18]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

In [19]:
false = 0

In [20]:
weight = 60
weight = 30
print(weight)

30

In [21]:
weight = 90
Weight = 20
print("Weight = ", Weight)
print("weight = ", weight)

Weight =  20
weight =  90

# f-String or .format()

In [25]:
a = 50
print(f"The value of a is {a}")

The value of a is 50

In [27]:
a = 10
print("The value of a is {}".format(a))

The value of a is 10

# Example

In [29]:
language = "Data science With Python"
school = "Broadway"
text = f"I am learning {language} from {school}."
print(text)

I am learning Data science With Python from Broadway.

# Rule 2 : You cannot use space bar in variable name.

In [30]:
first name = "Ram" # not allowed

SyntaxError: invalid syntax (1695883574.py, line 1)

In [31]:
name = "Ram" #allowed

# Rule 3 : You cannot use - or dash on variable name.

In [32]:
first-name = "Ram" # not allowed

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4064711161.py, line 1)

# Rule 4 : You cannot use special symbol in variable name.

In [33]:
$name = "sita" # not allowed

SyntaxError: invalid syntax (1660520338.py, line 1)

In [35]:
$name = "hari"

SyntaxError: invalid syntax (2188398199.py, line 1)

# Rule 5 : You can use underscores in variable name.

In [36]:
first_name = " Naresh"

In [37]:
print(first_name)

 Naresh

In [38]:
last_name = "Dhimal"
print(last_name)

Dhimal

# Rule 6 : Number cannot come at the first letter of variabe name.

In [40]:
1name = "Ram"

SyntaxError: invalid decimal literal (3317533442.py, line 1)

In [41]:
name1 = "Naresh"

In [42]:
print(name1)

Naresh

<img src = "https://khalilstemmler.com/img/blog/camel-snake-pascal-case/camel-case-snake-case-pascal-case.png">

In [43]:
# variable name and fuction name haru snake_case ma lekhne ho
# class PascalCase ma lekhne ho

[PEP 8 â€“ Style Guide for Python Code](https://peps.python.org/pep-0008/)